.div-1{
    width: 20%;
    background-color: #0000ff;
    height: 200px;
    padding: 5px;
}
.div-2{
    width: 30%;
    background-color: #7fffd4;
    height: 250px;
    padding: 10px;
    border: 20px solid #000000;
    float: left;
}
.div-3{
    width: 40%;
    background-color:#fa8072;
    height: 300px;
    padding: 20px;
    border: 20px solid #000000;
    float: left;

}
.div-4{
    width: 30%;
    background-color: #7fffd4;
    height: 250px;
    padding: 10px;
    border: 20px solid #000000;
    float: left;
}